@media (min-width: 48rem) {
    #menuButton {
        display: none;
    }

    .navigation {
        display: flex;
        border-top: 1px solid var(--muted);
    }

    .navigation a {
        border-bottom: none;
        flex: 1;
        text-align: center;
    }

    .members-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .site-footer {
        grid-template-columns: 1fr 1fr;
    }
}